<!--Usuarios HTML-->
{% extends "base.html" %}
{% block title %}Arkenco-prospectos{% endblock %}
{% block content %}
{% load static %}
<!-- comentarios sobre la prueba...

    No veo necesario añadir o realizar el CREATE para esta lista, ya que existe el metodo del REGISTER ya implementado en el sistema...

-->
<div class="row">
    <div class="col-6">
        <h6>Registra el nuevo prospecto aqui:</h6>
    </div>        
    <div class="col-6">
        <a href="{% url 'TechTestAPP:regProspecto' %}">REGISTRAR PROSPECTO</a>
    </div>
</div>
<table class="table table-dark table-striped-columns">
    <thead>
      <tr>
        <th colspan="2">Acciones</th>
        <th>Nombre del prospecto</th>
        <th>Email del prospecto</th>
        <th>Fecha del prospecto</th>
        <th>Nombre del cliente</th>
        <th>Estado</th>
        <th>Etapa</th>
      </tr>
    </thead>
    <tbody>
      {% for prospectos in Prospecto %}
      {# {% url 'TechTestAPP:update_usuario' usuario.pk %} #}
      <tr>  <!---->
        <td><a href="#">Modificar</a></td>
        <td><a href="#">Eliminar</a></td>
        <td>{{ prospectos.nombre }}</td>
        <td>{{ prospectos.email }}</td>
        <td>{{ prospectos.fecha_ingreso }}</td>
        <td>{{ prospectos.cliente_id.nombre_empresa }}</td>
        <td>{{ prospectos.estado_id.estado }}</td>
        <td>{{ prospectos.etapa_id.etapa }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
