{% extends "base.html" %}
{% block title %}Actualizar Prospecto{% endblock %}
{% block content %}
  <h2>Actualizar Prospecto</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="grupo row">
        <div class="col-6">
            {{form.nombre.label}} * {{form.nombre}}
            {% if form.nombre.errors %}
            <div class="error">{{ form.nombre.errors|join:", " }}</div>
            {% endif %}
        </div>
        <div class="col-6">
            {{form.email.label}} * {{form.email}}
            {% if form.email.errors %}
            <div class="error">{{ form.email.errors|join:", " }}</div>
            {% endif %}
        </div>
    </div>
    <div class="grupo row">
        <div class="col-6">
            {{form.telefono.label}} * {{form.telefono}}
            {% if form.telefono.errors %}
            <div class="error">{{ form.telefono.errors|join:", " }}</div>
            {% endif %}
        </div>
        <div class="col-6">
            {{form.fecha_ingreso.label}} * {{form.fecha_ingreso}}
            {% if form.fecha_ingreso.errors %}
            <div class="error">{{ form.fecha_ingreso.errors|join:", " }}</div>
            {% endif %}
        </div>
    </div>
    <div class="grupo row">
        <div class="col-6">
            {{form.sexo.label}} * {{form.sexo}}
            {% if form.sexo.errors %}
            <div class="error">{{ form.sexo.errors|join:", " }}</div>
            {% endif %}
        </div>
        <div class="col-6">
            {{form.cliente_id.label}} * {{form.cliente_id}}
            {% if form.cliente_id.errors %}
            <div class="error">{{ form.cliente_id.errors|join:", " }}</div>
            {% endif %}
        </div>
    </div>
    <div class="grupo row">
        <div class="col-6">
            {{form.estado_id.label}} * {{form.estado_id}}
            {% if form.estado_id.errors %}
            <div class="error">{{ form.estado_id.errors|join:", " }}</div>
            {% endif %}
        </div>
        <div class="col-6">
            {{form.etapa_id.label}} * {{form.etapa_id}}
            {% if form.etapa_id.errors %}
            <div class="error">{{ form.etapa_id.errors|join:", " }}</div>
            {% endif %}
        </div>
    </div>
    {% if form.non_field_errors %}
    <div class="error">{{ form.non_field_errors|join:", " }}</div>
    {% endif %}
    <button type="submit" class="registerbtn">Enviar</button>
</form>
{% endblock %}
