<!--Usuarios HTML-->
{% extends "base.html" %}
{% block title %}Arkenco-usuarios{% endblock %}
{% block content %}
{% load static %}
<!-- comentarios sobre la prueba...

    No veo necesario añadir o realizar el CREATE para esta lista, ya que existe el metodo del REGISTER ya implementado en el sistema...

-->
<div class="row">
    <div class="col-6">
        <h6>Registra al usuario aquí:</h6>
    </div>        
    <div class="col-6">
        <a href="{% url 'TechTestAPP:registrar' %}">REGISTRAR USUARIO</a>
    </div>
</div>
<table>
    <thead>
      <tr>
        <th colspan="3">Acciones</th>
        <th>Nombre de Usuario</th>
        <!-- Agrega otras columnas aquí si es necesario -->
      </tr>
    </thead>
    <tbody>
      {% for usuario in Usuarios %}
      <tr>
        <td><a href="{% url 'TechTestAPP:update_usuario' usuario.pk %}">Modificar</a></td>
        <td><a href="{% url 'TechTestAPP:delete_usuario' usuario.pk %}">Eliminar</a></td>
        <td>{{ usuario.username }}</td>
        <!-- Puedes agregar otras columnas aquí si es necesario -->
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
